* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #243238;
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, .3);
    z-index: 100;
}

.flex {
    display: flex;
}

nav ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

nav li {
    min-width: 90px;
    display: block;
}

nav a {
    color: #fff;
    display: block;
    text-align: center;
}

nav .active {
    background-color: #4CAF50;
}

.p-20 {
    padding: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

.fixed {
    position: fixed;
}

.col-12 {
    width: 100%;
}

.inline {
    display: inline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.pt-20 {
    padding-top: 20px;
}

.pb-40 {
    padding-bottom: 40px;
}

.ml-20 {
    margin-left: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.col-2 {
    width: 16.6%;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-6 {
    width: 50%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.6%;
}

.bg-white {
    background-color: white;
}

.black {
    color: black;
}

.tx-align-center {
    text-align: center;
}

.mt-50 {
    margin-top: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.top-100 {
    top: 100px;
}

.fs-45 {
    font-size: 45px;
}

.bold {
    font-weight: 900;
}

.service-image {
    width: 260px;
    height: 270px;
    position: relative;
}

.center {
    margin: 0 auto;
}

.justify-content-sp-b {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.service-image img {
    transition: all 0.5s ease-out;
    margin-left: -50px;
}

.service-image:hover img {
    transition: .5s all ease;
    margin-left: 0;
    margin-right: -50px;
}

.overflow-hidden {
    overflow: hidden;
}

.service-hover-image {
    position: absolute;
    width: 100%;
    height: 270px;
    box-shadow: inset 0px -100px 100px 0px rgba(0, 0, 0, 0.45);
    z-index: 10;
    top: 0%;
}

.top-100p {
    top: 102%
}

.top-75p {
    top: 75%
}

.left-25p {
    left: 25%;
}

.left-38p {
    left: 38%;
}

.fs-17 {
    font-size: 17px;
}

.color-white {
    color: white;
}

.service-image .service-hover-image p {
    min-width: 30%;
    transition: all 0.5s ease-in-out;
}

.service-image:hover .service-hover-image p {
    min-width: 25%;
    top: 55%;
    transition: all 0.5s ease-in-out;
}

.service-image .service-hover-image button {
    transition: all 0.5s ease-in-out;
}

.service-image:hover .service-hover-image button {
    top: 75%;
    transition: all 0.5s ease-in-out;
}

.max-height-500 {
    max-height: 500px;
}

.service-button {
    background: #ed2d2d;
    padding: 15px 30px;
    border: 0;
    font-size: 17px;
    font-weight: 900;
    color: #fff;
}

.top-10p {
    top: 10%
}

.section6-text {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.04) !important;
}

.user {
    width: 50px;
    height: 50px;
    background-image: url('./images/user.jpg');
    background-repeat: no-repeat;
}

.b-radius-50 {
    border-radius: 50%;
}

.fs-22 {
    font-size: 22px;
}

.col-1 {
    width: 8.3%;
}

.medium {
    font-weight: 500;
}

.pt-60 {
    padding-top: 60px;
}

.carusel div {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.carusel div:hover {
    transform: scale(1.7);
    background-color: #fff !important;
}

.pb-100 {
    padding-bottom: 100px;
}

.contact-inputs input {
    color: #9b9b9b;
    padding: 15px 19px;
    width: 91%;
}

.contact-inputs #email input {
    width: 100%;
}

.contact-inputs input:hover {
    border: 1px solid #ed2d2d;
}

#name,
#phone {
    width: 48% !important;
}

#email-input {
    width: 100%;
}

.contact-span {
    position: absolute;
    font-size: 8px;
    color: #ed2d2d;
    top: 5px;
    right: 5px;
    visibility: hidden;
}

#email:hover .contact-span,
#textarea:hover .contact-span,
#name:hover .contact-span,
#phone:hover .contact-span {
    visibility: visible;
}

#textarea textarea {
    padding: 15px 19px;
}

#textarea:hover textarea {
    border: 1px solid #ed2d2d;
}


/*  */

footer {
    background: #f2f2f2;
    padding: 25px 0;
}

.align-items-center {
    align-items: center;
}

.fontAw-family {
    font-family: 'FontAwesome';
}

.marker::before {
    content: "\f041";
    color: #ed2d2d;
    margin-right: 5px;
    font-size: 18px;
}

.marker:hover::before,
.phone:hover::before,
.footer-icons span:hover::before {
    color: #1972c6;
}

.marker-text:hover,
.phone-text:hover {
    color: #ed2d2d;
}

.phone::before {
    content: "\f095";
    color: #ed2d2d;
    font-size: 18px;
    margin-right: 5px;
}

.fb::before {
    content: "\f09a";
    color: #bebebe;
}

.twitter::before {
    content: "\f099";
    color: #bebebe;
    margin-left: 10px;
}

.insta::before {
    content: "\f16d";
    color: #bebebe;
    margin-left: 15px;
}

.google::before {
    color: #bebebe;
    margin-left: 15px;
    content: "\f0d5";
}

.footer-icons span {
    font-size: 24px;
}

.footer-privacy {
    color: #bebebe;
}

footer {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}


/* ==============================MOBILE======================================== */

@media (max-width: 767px) and (min-width: 320px) {
    header {
        position: relative !important;
    }
    .fixed {
        position: unset;
    }
    footer {
        position: fixed !important;
    }
    /* header, */
    /* footer {
        position: relative !important;
        display: none;
        position: absolute;
    } */
    nav li {
        display: block;
    }
    .fs-12 {
        font-size: 12px;
        ;
    }
    .text-align-center {
        text-align: center;
    }
    .footer {
        display: block;
        /* font-size: 12px; */
        margin: 0 auto;
        width: 90%;
    }
    .line-height-6vh {
        line-height: 6vh;
    }
    .float-left,
    .float-right {
        float: unset;
    }
    nav .active {
        background-color: inherit;
    }
    .pt-10 {
        padding: 10px 0;
    }
    .flex-wrap-wrap {
        flex-wrap: wrap;
    }
    .service-button {
        width: 63.5%;
    }
    .contact .service-button {
        width: 77%;
    }
    .ml-20 {
        margin-left: unset;
    }
    .mb-20-s {
        margin-bottom: 20px;
    }
    html {
        position: relative;
        min-height: 100%;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
    }
    .section6 img {
        min-height: 450px;
    }
    .fs-45 {
        font-size: unset;
    }
    .fs-18 {
        font-size: 18px;
    }
    .fs-14 {
        font-size: 14px;
    }
    .contact-inputs {
        width: 80%;
    }
    .contact-inputs div {
        display: block;
    }
    #name {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    #textarea textarea {
        padding-left: 18px;
    }
    #name input,
    #phone input,
    #email input,
    #textarea textarea {
        padding-right: 0;
    }
    #email,
    #phone,
    #name,
    #textarea {
        width: 96%;
    }
    .contact-inputs div {
        width: 100%;
    }
    .contact-inputs input {
        width: 83%;
    }
    footer {
        padding: 25px 0 0 0;
    }
    #email-input {
        width: 85%;
    }
    .contact-inputs input {
        width: 92%;
    }
    #name,
    #phone {
        width: 100% !important;
    }
}