* {
    background-color: whitesmoke;
}

div {
    margin-top: 5px;
    height: 300px;
    width: 300px;
    box-shadow: 5px 10px #888888;
    border-style: solid;
}

.my_class {
    border-style: solid;
    display: flex;
    align-items: center;
    background-color: red;
}

#my_id {
    border-style: solid;
    display: flex;
    align-items: center;
    background-color: lightgreen;
}

span.red {
    background-color: red;
    text-shadow: 5px 10px lightgrey;
}

h1, span {
    background-color: aliceblue;
}

div p {
    text-decoration: dotted;
}

p ~ span {
    text-shadow: 5px 10px lightseagreen;
}

a[target] {
    background-color: red;
}

[title~=facebook] {
    background-color: lightblue;
}

div[class^="text"] {
    background-color: aqua;
}

[lang|=am_AM] {
    background-color: rgb(245, 60, 3);
}

div[class$="media"] {
    background-color: bisque;
}

p::after {
    content: " - check"
}

a::before {
    content: "links - ";
}

a:visited {
    color: rgb(0, 55, 100);
}

a:active {
    background-color: chartreuse;
}

a:hover {
    background-color: green;
}

input:checked {
    height: 20px;
    width: 20px;
}

input:default {
    box-shadow: 0 0 1px 1px red;
  }

input[type=radio]:disabled {
    background: #dddddd;
}

input:valid {
    background-color: lightgreen;
}

p::first-letter {
    font-size: 150%;
}

p:first-child {
    background-color: lightyellow;
}

p:lang(am) {
    background: lightblue;
}

p:nth-last-of-type(2) {
    background: greenyellow;
}

input:-moz-read-write { /* For Firefox */
    background-color: green;
}

input:read-write {
    background-color: yellow;
}

input:focus {
    background-color: green;
}

input:in-range {
    border: 1px solid lightgreen;
}

input:invalid {
    border: 2px solid red;
}

:root {
    background: white;
}