* {
    box-sizing: border-box;
}

.class1 {
    width: 100px;
    height: 100px;
    border: 10px solid green;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: yellow;
    background-image: url("./resources/result.jpg");
    background-blend-mode: lighten;
    border-image: url("./resources/result.jpg") 5 stretch;
}

.class2 {
    width: 300px;
    height: 100px;
    background-image: url("./resources/result.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 10px dotted black;
    background-clip: padding-box;
    background-position: center;
    direction: rtl;
}

.class3 {
    border: 5px solid black;
    padding: 30px;
    background: url("./resources/result.jpg");
    background-repeat: no-repeat;
    background-size: 300px 100px;
}

.class4 {
    width: 200px;
    height: 200px;
    border-top-style: dotted;
    border-right-style: double;
    border-bottom-style: dashed;
    border-left-style: solid;
    border-color: red;
    border-width: 5px;
    border-radius: 25px;
    box-shadow: 5px 10px gray;
}

.tbl {
    caption-side: bottom;
    empty-cells: hide;
}

div input {
    caret-color: red;
}

div img {
    position: absolute;
    clip-path: circle(50%);
    filter: blur(5px);
}

.inp {
    padding-left: 50px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.class5 {
    column-count: 4;
    column-width: 100px;
    column-fill: auto;
    column-gap: 100px;
    column-rule-style: double;
    column-rule-color: red;
    column-rule-width: 8px;
    cursor: pointer;
}

h3 {
    column-span: all;
}

body {
    counter-reset: my-sec-counter;
}

h5::before {
    counter-increment: my-sec-counter;
    content: "PART__ " counter(my-sec-counter) ". ";
}