* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(251, 237, 222);
}

/* font */
p {
    font-size: 18;
}

/* Header */
.header-img {
    width: 100%;
    height: 150px;
    opacity: 0.4;
}

.header {
    display: flex;
    position: relative;
}

.centered {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 50px;
    font-style: italic;
}

/* NavBar */
.nav {
    display: flex;
    background-color: rgb(82, 75, 75);
    width: 100%;
    flex-grow: 0;
}

.nav a {
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    color: bisque;
    padding: 10px 15px;
}

.nav a:hover {
    background-color: rgb(226, 220, 220);
    color: rgb(0, 0, 0);
}

/* nav - item --> search */
.nav-item {
    margin-left: auto;
    order: 2;
    padding: 10px;
    background-color: rgb(218, 211, 211);
    outline: none;
    border: none;
    border-radius: 3px;
    margin-top: 6px;
    margin-right: 3px;
    font-style: italic;
}

.inp {
    margin-left: auto;
    order: 2;
}

/* Container */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-basis: auto;
}

.content {
    flex: 2;
    background-color: rgb(212, 212, 209);
    padding: 0 25px;
}

.side {
    flex: 1;
    background-color: rgb(233, 230, 216);
    padding: 0 25px;
}

/* side */
.side-img {
    width: 100%;
}

.img {
    width: 100%;
    margin-top: 15px;
    height: 180px;
}

.link {
    color: cornflowerblue;
    font-style: italic;
    cursor: pointer;
}

p[attr=title] {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
}

h4 {
    color: rgb(131, 97, 18);
}

/* content */
.content-img {
    width: 100%;
    height: 400px;
}

.vertical-scroll {
    overflow-y: scroll;
}

/* Footer */
.footer {
    display: flex;
    background-color: rgb(155, 147, 147);
    padding: 25px 0;
    margin: 0 auto;
    width: 100%; 
    padding-left: 50px;
    flex-grow: 0;
}

/* media */
/* page content in middle screen */
@media screen and (max-width: 800px) {
    .nav {   
        flex-direction: column;
    }

    /* nav item in right */
    .nav-item {
        margin: unset;
        margin-bottom: 3px;
    }

    .inp {
        text-align: center;
        margin: unset;
    }

    /* font */
    p {
        font-size: 14px;
    }

    /* content in middle screen */
    .content, .side {
        flex: 1;
    }
}

/* page content in small screen */
@media screen and (max-width: 600px) {
    .container, .nav {   
        flex-direction: column;
    }

    /* font */
    p {
        font-size: 10px;
    }

    /* nav item in right */
    .nav-item {
        display: none;
    }
}