#main {
    width: 70px;
    height: 300px;
    border: 1px solid #cf0000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    all: initial;
}

body {
    background: rgb(90, 103, 119) url("./background.jpg") no-repeat fixed center;
    background-blend-mode: lighten;
    background-blend-mode: darken;
    background-blend-mode: multiply;
    background-origin: content-box, padding-box;
    /* background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: 300px 100px; */
}

#main div {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
}

#anim {
    width: 20px;
    height: 20px;
    background: white;
    position: relative;
    /* animation: myMove 2s infinite; */
    animation-name: myMove;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: linear;
    /* animation-play-state: paused; */
}

@keyframes myMove1 {
    from {
        bottom: 0px;
    }
    to {
        bottom: 200px;
    }
}

@keyframes myMove {
    0%   {background: yellow; bottom: 0px;}
    10%  {background: pink; bottom: 100px;}
    25%  {background: blue; bottom: 150px;}
    35%  {background: rgb(49, 129, 80); bottom: 200px;}
    50%  {background: pink; bottom: 150px;}
    70%  {background: rgb(32, 32, 58); bottom: 100px;}
    90%  {background: rgb(221, 160, 30); bottom: 50px;}
    100% {background: red; bottom: 0px;}
}


#animate {
    width: 20px;
    height: 20px;
    background: white;
    position: relative;
    animation: myMove1 2s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

#div1 {
    height: 50px;
    width: 50px;
    background-color: yellow;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    border: 10px dotted black;
    background-clip: border-box;
    /* backface-visibility: hidden; */
    backface-visibility: visible;
}

.borderDiv {
    border: 5px solid red;
    border-bottom: 5px solid white;
    border-bottom-color: coral;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 20%;
    border-bottom-style: dotted;
    border-bottom-width: thin;
}