body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

/* nav-bar */
#nav-bar {

    height: 42px;
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #e9e8e6;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 1000;
    width: 100%;
    font-family: "Raleway", sans-serif;
}


.navbar-content {
    height: 42px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-logo {
    font-family: "Raleway",sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-content {
   /* min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;*/

    display: block;
    position: relative;
    color: #888888;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.nav-bar-links {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color:#888888;
    transition: color 0.7s linear;
}

.text-decoration-none {
    text-decoration: none;
}
.color-Light-Sea-Green {
    color: #34b7a7;
}

.nav-bar-links::after {
    content: "";
    display: block;
    width: 50%;
    transition: 0.5s;
    height: 2px;
    background-color:#34b7a7;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 200;
    transition: opacity 0.5s linear;

}

.nav-bar-links:hover {
    color: black;
}

.nav-bar-links:hover::after {
    opacity: 1;
}
.header-social-links {
    display: flex;
    justify-content: space-between;
}

.social-share-icons {
    padding: 3px;
    text-decoration: blink;
}
.social-share-svg:hover {
    fill: #34b7a7;
    transition: 0.3s;
}

/* nav-bar */


/*content*/

.content {
/*
    background-image: url('./assets/img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 60px 0;
    */
    display: flex;
    width: 100%;
    height: 90vh;
    background: url('./assets/img/hero-bg.jpg') top right;
    background-image: url(./assets/img/hero-bg.jpg);
    background-attachment: fixed;
    background-clip:border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-repeat: no-repeat;
    line-height: 24px;
    padding-bottom: 60px;
    padding-top: 60px;
    background-size: cover;
    align-items: center;
    z-index: 100;
}


.content-item{
    display: flex !important;
    width: 930px;
    height: 164px;
    flex-direction: column !important;
    position: relative;
    padding: 70px 15px 0 15px;
    padding-top: 70px;
    align-items: center !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgb(68, 68, 68);
    flex: auto;
    z-index: 500;
}


h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Raleway", sans-serif;
    display: block;
    align-items: center;
}

h3 {
    color: #6f6f6f;
    margin: 10px 0 0 0;
    font-size: 22px;
    flex-wrap: wrap;
}


/*content*/
.footer {
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    transition: 0.5s;
    text-align: center;
}

/*button*/

.button-about {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.3s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
}

.button-about:hover{
    background-color:#44beb0;
}

.container {
    display: inline-block;
    cursor: pointer;
}


.mobile-menu {
    outline: none;
    fill: #34b7a7;
    padding: 3px;
    text-decoration: blink;
    border: 0;
    background-color: #e9e8e6;
    display: none;
  }

/*********** modal ***********/
#modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

.modal-background {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #000;
    position: absolute;
}

.modal-content {
    z-index: 1001;
    background-color: white;
    width: 80%;
    height: 50vh;
    opacity: 1;
}

.close-modal-btn-container {
    position: fixed;
    right: 15px;
    top: 17px;
    z-index: 9998;
    border:0;
    background: none;
    font-size: 24px;
    transition: all 0.4ms;
    outline: none;
    line-height: 1;
    cursor: pointer;
    text-align: right;

}


.close-modal-btn {
    z-index: 5000;
}


@media (min-width:990px){
    .preview-devices {
        display: none;
    }
}

@media (max-width:990px) {
    .content {
        opacity: 0.2;
        z-index: 0;
    }
    .header-content {
        display: flex;
        display: none;
    }
    .mobile-menu {
        display: block;
    }

    .header-social-links {
        display: flex;
        justify-content: space-between;
    }
    .content-item {
        z-index: 99999999999999999999999999;

    }

    html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(black, 0);
    }

}
