html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

header {
    background: url("./assets/img/hero-bg.jpg") top right no-repeat;
    background-size: cover;
    height: 100vh;
    width: 99vw;
}

section {
    padding-bottom: 100px;
}

.conteiner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.opas {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.header-main {
    display: flex;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #272829;
}

a {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px "Open Sans";
    padding: 10px 10px;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

h1 {
    color: #45505B;
    font-size: 64px;
}

h2 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #45505B;
    font-size: 37px;
}

h3 {
    font-family: "Raleway", sans-serif;
    padding-left: 40px;
    color: #728394;
    font-size: 26px;
}

/* ============ HEADER =========== */

.menu {
    z-index: 99999;
    position: fixed;
    top: 25%;
    left: 1%;
    width: 200px;
}

.menu a {
    clear: right;
}

.link {
    margin: 8px 0px;
    position: relative;
    background-color: #F2F3F5;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transition: width 350ms;
}

.link:after {
    padding-left: 40px;
    content: attr(name);
    color: #F2F3F5;
    font-family: "Open Sans";
    font-size: 14px;
}

.link:hover {
    background-color: #2663BB;
    width: 60%;
}

.link:hover .svg-size {
    fill: white;
}

.link:hover:after {
    color: white;
}


.svg-size {
    position: absolute;
    padding-left: 10px;
    fill: #45505B;
    height: 20px;
    width: 20px;
}

.svg-size:hover {
    fill: white;
}

.social__head {
    position: absolute;
    top: 33%;
    z-index: 9999;
    left: 25%;
}

.social {
    display: flex;
}

.social__item {
    height: 30px;
    width: 30px;
}

.social__item svg {
    fill: #45505B;
}

.social__item svg:hover {
    cursor: pointer;
    fill: #0563bb;
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.about-body {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 15px;
}

.caver {
    opacity: 0.8;
    background-color: white;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.about-img {
    padding: 0px;
    width: 350px;
    height: 350px;
}

.strong__text {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #28292A;
}

.about__list {
    list-style-type: none;
}

.about__list li {
    padding-bottom: 15px;
}

.about-body p {
    display: block;
    text-align: left;
    padding-left: 40px;
}

.about__content__item {
    display: flex;
    flex-wrap: wrap;
}

.svg__list {
    fill: #2663BB;
}

/* FACTS */

.facts__body {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.facts__body__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
}

.facts__item {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 7px;
}

.facts__svg {
    padding-left: 12px;
    padding-top: 12px;
    fill: white;
}

.facts__row {
    background-color: #2663BB;
    border-radius: 50px;
    margin-left: 9px;
    height: 48px;
    width: 48px;
}

.facts__span {
    font-family: "Open Sans";
    font-size: 14px;
    color: #272829;
    font-weight: 400;
}

/* SKILLS */

.skills__title {
    padding-top: 60px;
}

.skills__body {
    display: flex;
    justify-content: center;
}

.skills__column {
    width: 500px;
}

.skills__row {
    padding: 10px;
}

progress {
    appearance: none;
    width: 95%;
    height: 10px;
}

progress::-webkit-progress-value {
    background: #2663BB;
}

progress::-webkit-progress-bar {
    background: #F2F3F5;
}

.skills__span {
    font-family: "Poppins";
    color: #45505b;
    font-size: 12px;
    float: left;
    width: 50%;
}

.skills__span.precent {
    text-align: end;
}

/* RESUME */

.resume__body {
    display: flex;
    justify-content: center;
}

.resume__span {
    font-family: "Poppins";
    font-size: 18px;
    color: #0563bb;
}

.resume__em {
    font-family: "Open Sans";
    font-size: 16px;
    display: block;
    text-align: left;
    color: #272829;
}

.resume__em:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -11px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}

.resume__body ul li {
    font-family: "Open Sans";
    font-size: 16px;
    color: #272829;
    padding: 5px;
}

.resume__body h5 {
    font-family: "Raleway";
    font-size: 16px;
    color: #272829;
}

.sub__title__h2 {
    padding-left: 0px;
    font-size: 32px;
}

.resume p {
    text-align: left;
}

.box {
    padding: 0 0 3px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}

.body__part {
    width: 500px;
}

/* PORTFOLIO */

.portfolio__body {
    margin-top: 100px;
}

.portfolio__title ul {
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio__title li {
    font-family: "Open Sans";
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #272829;
    margin-bottom: 5px;
}

.portfolio-container {
    display: flex;
}

.portfolio__row__1 {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__image {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

/* SERVICES */

.services__body {
    margin-top: 50px;
    margin-left: 20px;
}

.services__row {
    display: flex;
    margin-top: 30px;
}

.services__item {
    margin-left: 30px;
}

.services h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
}

.services__content {
    text-align: center;
    padding: 70px 20px 80px 20px;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

/* CONTACT */

.contact h4 {
    font-family: "Raleway";
    font-size: 22px;
    color: #45505B;
    margin: 0px;
}

.contact p {
    text-align: left;
    font-size: 14px;
    margin: 0px;
    color: #728394;
}

.contact__body {
    display: flex;
    flex-wrap: wrap;
}

.contact__right {
    width: 51%;
}

.contact__info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact__info__item {
    margin-right: 1%;
}

.name__email {
    display: flex;
    width: 100%;

}

.contact__form__row {
    width: 100%;
}

.contact__form {
    width: 100%;
}

.contact__svg {
    fill: #0563bb;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-left: 35%;
    margin-top: 10px;
    background-color: #2663BB;
    border-radius: 25px;
    height: 45px;
    width: 155px;
    border: 0px;
}

.submit__item {
    font-family: "Open Sans";
    font-size: 16px;
    color: #F2F3F5;
}

.submit__button:hover {
    cursor: pointer;
    background-color: lightgreen;
}

/* FOOTER */

.finally {
    background-color: #f7f8f9;
    text-align: center;
    padding: 30px 0px 60px 0px;
    font-size: 14px;
}

.footer__header {
    font-family: "Poppins";
}

.footer__text {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

.footer__svg {
    margin-top: 8px;
    fill: white;
}

.link__content {
    background-color: #0563bb;
    height: 36px;
    width: 36px;
    border-radius: 50px;
    margin: 5px;
}

.social__links {
    display: flex;
    justify-content: center;
}

.footer__span {
    font-family: "Open Sans";
    font-size: 14px;
    color: #45505b;
}

.footer__span__small {
    font-family: "Open Sans";
    color: #45505b;
    font-size: 13px;
}

.footer__item {
    margin-top: 30px;
}

/* MOBILE */

.mobile__menu {
    position: fixed;
    left: 96%;
    top: 2%;
    display: none;
}

#toggle {
    display: none;
}

.mobile {
    position: fixed;
    left: 93%;
    top: 2%;
    color: #45505B;
    z-index: 99999;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1247px) {
    .portfolio-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 991px) {
    body {
        padding-left: 15px;
        margin-right: 15px;
    }

    .mobile__menu {
        display: block;
    }

    .home__link {
        margin-top: 25vh;
    }

    .menu {
        clear: both;
        width: 300px;
        max-width: 0;
        background-color: white;
        top: 0%;
        height: 100%;
        visibility: hidden;
        transition: max-width 800ms ease-in;
    }

    .mobile {
        display: block;
    }

    #toggle:checked ~ .menu {
        visibility: visible;
        max-width: 500px;
    }

    .link {
        width: 90%;
    }

    .link:hover {
        background-color: #2663BB;
        width: 90%;
    }

    .link:after {
        color: #45505B;
    }

    .about-body {
        flex-direction: column;
    }

    .about-img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    .facts__body {
        flex-wrap: wrap;
    }

    .skills__body {
        flex-wrap: wrap;
    }

    .resume__body {
        flex-wrap: wrap;
    }

    .portfolio-container {
        margin-left: 5%;
    }

    .services__row {
        flex-wrap: wrap;
        align-items: center;
    }

    .services__content {
        margin-bottom: 50px;
    }

    .contact__left {
        margin-left: 10%;
    }

    .contact__right {
        margin-left: 10%;
    }
}

@media (max-width: 991px) {
    .portfolio img {
        max-width: 100%;
        height: auto;
    }

    .social__head h1 {
        font-size: 32px;
        line-height: 36px;
    }

    .social {
        flex-wrap: wrap;
    }

    .about-body p {
        text-align: center;
        padding-left: 0px;
    }

    h3 {
        padding-left: 0px;
    }

    .about__list {
        padding-left: 0;
    }

    .services__item {
        margin-left: 0px;
    }

    .box {
        padding: 0 0 3px 10%;
    }
}